@import 'var.scss';

body {
  margin: 0;
  font-size: $global-font-size;
  font-family: $global-font-family;

  button {
    border: none;
    display: block;
  }
}

#main-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

.btn {
  color: $btn-font-color;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
}

.btn:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.btn:active {
  filter: brightness(90%);
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.btn-purple {
  background-color: $btn-purple;
}

.btn-red {
  background-color: $btn-red;
}

.btn-blue {
  background-color: $btn-blue;
}

.btn-orange {
  background-color: $btn-orange;
}

.btn-group {
  display: flex;
  .btn {
    margin: $btn-group-btn-margin;
  }
  flex-wrap: wrap;
}

#centered-button-group {
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

#quad-button-group {
  // about wide enough to force the flex-wrap after a second button with current 'Open Modal' text in it
  width: 15rem;
  justify-content: center;
}

.big-btn {
  padding: 3rem 4rem;
  background-color: $btn-grey;
}