$global-font-family: Helvetica,Arial,sans-serif;
$global-font-size: 1rem;

// buttons
$btn-font-color: white;
$btn-border-radius: 0.2rem;
$btn-padding: 0.9rem;
$btn-purple: #866BFF;
$btn-red: #FF6B6B;
$btn-blue: #6BC4FF;
$btn-orange: #FFAB6B;
$btn-grey: #626262;

$btn-group-btn-margin: 0.3rem;
